#timesheet-details-close {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid;
  float: right;
  margin: 30px;
  text-align: center;
  cursor: pointer;
}
.weekend {
  background-color: #e3e5e8 !important;
}
.block {
  display: block;
}
